.clusterToggle {
       
       /* from leaflet-control-layers */
       position: 'topright';
       border-radius: 5px;
       background: #fff;
       border: 2px solid rgba(0, 0, 0, 0.2);
       background-clip: padding-box;
       display: flex;
       z-index: 1000;
       
       padding: 5px;
       height: 67.5px;
}

.clusterToggle .clusterToggle-timestamp {
        text-align: center;
}
